extends ../../layout

block content
  .main.container
    .row.bottom
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 New User
        form(method='POST' action='/admin/users/update/' + user.id +'?_method=put')
          div.form-group
            input(type='hidden' name='_method' value='put')
          div.form-group
            label(for='name') Name 
            input.form-control(type='text' id='name' placeholder='name' name='name' value= user == undefined ? '' : user.name)
          div.form-group
            label(for='email') Email 
            input.form-control(type='text' id='email' placeholder='email' name='email' value=user == undefined ? '' : user.email)
          div.form-group
            label(for='username') UserName 
            input.form-control(type='text' id='username' placeholder='user name' name='username' value = user == undefined ? '' : user.username)
          div.form-group
            label(for='password') Password
            input.form-control(type='text' id='password' placeholder='password' name='password'  value = user == undefined ? '' : user.password)
          div.form-group
            lable(for='teams') Teams
            select.form-control(id="teams", name="teams" required)
              each val in teams
                if(user == undefined)
                  option(value=val.id)= val.name
                else
                  if(user.Profile.Team.id != val.id)
                    option(value=val.id)= val.name
                  else
                    option(value=val.id selected)= val.name
          div.form-group
            lable(for='roles') Roles
            select.form-control(id="roles", name="roles" required)
              each val in roles
                if(user == undefined)
                  option(value=val.id)= val.name
                else
                  if(user.Profile.Role.id != val.id)
                    option(value=val.id)= val.name
                  else
                    option(value=val.id selected)= val.name
          button.btn.btn-primary(type='submit') Log in 